#outer{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.basic{
    box-shadow: 2px 2px 5px #333333; /*тень от блоков*/
    padding: 10px;/**/
    background-color: white;/*фоновый цвет*/
    border-radius: 10px;/*закругление блока*/
}
#search {
    position: absolute; /* */
    top: 60px;/* сколько пикселей отсчитать от верхнего края внешнего блока (outer) */
    left: 0px;/* сколько пикселей отсчитать от левого края внешнего блока (outer) */
    width: 200px;/* ширина */
    height: 500px;/* высота */
    text-size: 15px;/* размер текста */
}
#menu {
    height: 40px; /* высота */
    width: 1000px; /* ширина*/
    position: absolute; /* позиция относительно внешнего элемента (outer) */
    top: 0px; /* сколько пикселей отсчитать от верхнего края внешнего блока (outer) */
    left: 0px; /* сколько пикселей отсчитать от левого края внешнего блока (outer) */
    margin-top: 0px; /* отступ от соседнего элемента вверху */
    padding-top: 0px; /* отступ контента от верхнего края блока */
}
#content{
    position: absolute; /* */
    top: 60px;/* */
    left: 230px;/* */
    height: 500px;/* */
    width: 500px;/* */
}
ul.menu li{
    display: inline;
    padding-right: 60px;
}
A.menu{
    font-size: 25px;
    color: Black;
    text-decoration: none;
}
A.sections{
    color: Black;
    font-size: 20px;
    text-decoration: none;
}
A:hover{
    color: #A9A9A9;
}
.book{
    border: solid 1px #C7CADD;
    margin: 0px 3px 3px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    height: 200px;
    width: 150px;
}
.book:hover{
    border: solid 1px #000;
    margin: 0px 3px 3px 0px;
    padding: 0;
    float: left;
    height: 200px;
    width: 150px;
    background: #FFFAE7;
}
.img{
    text-decoration: none;
}
.img img{
    margin: 5px 0px 0px 5px;
    padding: 0;
    width: 140px;
    height: 130px;
}
.text{
    text-align: center;
    padding: 0;
    margin: 0;
}
#button{
    margin-top: 0px;
}
