#outer{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.basic{
    box-shadow: 2px 2px 5px #333333;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
#search {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 200px;
    height: 500px;
    text-size: 15px;
}
#menu {
    height: 40px;
    width: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
#content{
    position: absolute;
    top: 60px;
    left: 230px;
    height: 500px;
    width: 770px;
}
ul.menu li{
    display: inline;
    padding-right: 60px;
}
A.menu{
    font-size: 25px;
    color: Black;
    text-decoration: none;
}
A.sections{
    color: Black;
    font-size: 20px;
    text-decoration: none;
}
A:hover{
    color: #A9A9A9;
}
.book{
    border: solid 1px #C7CADD;
    margin: 0px 3px 3px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    height: 200px;
    width: 150px;
}
.book:hover{
    border: solid 1px #000;
    margin: 0px 3px 3px 0px;
    padding: 0;
    float: left;
    height: 200px;
    width: 150px;
    background: #FFFAE7;
}
.img{
    text-decoration: none;
}
.img img{
    margin: 5px 0px 0px 5px;
    padding: 0;
    width: 140px;
    height: 130px;
}
.text{
    text-align: center;
    padding: 0;
    margin: 0;
}
#button{
    margin-top: 0px;
}
