
        div{

        }
        #search {
            border: solid 1px orange;
            float: left;
            box-shadow: 5px 5px 10px #333333;
            background-color: #F0F8FF;
            border-radius: 15px;
            width: 20%;
        }
        #menu {
            margin: 0px;
            border: solid 1px orange;
            height: 40px;
            box-shadow: 5px 5px 10px #333333;
            background-color: #F0F8FF;
            border-radius: 15px;
            padding: 15px;
            width: 100%;
            padding-top: 0px;
        }
        #content{
            margin: 0px;
            margin-top: 15px;
            height: 800px;
            width: 100%;
            border: solid 1px orange;
            box-shadow: 5px 5px 10px #333333;
            background-color: #F0F8FF;
            border-radius: 15px;
            padding: 15px;
        }
        .invisible{
            float : left;
            margin-left: 30px;
            padding: 0px;
        }
        .sections{
            list-style: none;
        }
        ul.menu li{
            display: inline;
            padding: 30px;
        }
        A{
            font-size: 20px;
            color: Black;
            text-decoration: none;
        }
        A.menu{

        }
        A:hover{
            color: #0F63AB;
        }

        .book{
            border: solid 1px #C7CADD;
            margin: 0px 3px 3px 0px;
            padding: 0px 0px 0px 0px;
            float: left;
            height: 200px;
            width: 150px;
        }
        .book:hover{
            border: solid 1px #000;
            margin: 0px 3px 3px 0px;
            padding: 0;
            float: left;
            height: 200px;
            width: 150px;
            background: #FFFAE7;
        }
        .img{
            text-decoration: none;
        }
        .img img{
            margin: 5px 0px 0px 5px;
            padding: 0;
            width: 140px;
            height: 130px;
        }
        .text{
            text-align: center;
            padding: 0;
            margin: 0;
        }
        #button{
            margin: 10px;
        }